/** LOGIN COORDINACION */
.main__coordinacion {
  background-color: #e03131;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor__coordinacion {
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 30px 0;
}

@media (max-width: 800px) {
  .contenedor__coordinacion {
    width: 90%;
  }
}

/** AREA COORDINACION */
.content {
  position: relative;
  height: 75px;
}

.coordinacion {
  position: fixed;
  height: 75px;
  width: 100%;
  z-index: 1;
  background-color: #fa5252;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.coordinacion p {
  margin: 0;
  color: #ffffff;
}

.coordinacion p:nth-child(2) {
  font-style: italic;
}

.coordinacion .dropdown {
  position: absolute;
  right: 75px;
  top: 0;
  padding: 1rem 5rem;
  margin-top: 3.24rem;
  background: #fa5252c7;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px black;
  z-index: 2;
}

.coordinacion .dropdown ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.coordinacion .dropdown ul li {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
  margin: 10px 0;
}

.coordinacion .dropdown ul li:hover {
  background-color: #ffffffbb;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  z-index: 1;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-basis: 0;
  z-index: 1;
}

.menu p {
  background-color: #ffffff;
  color: #000000;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease;
}

.menu p:hover {
  background-color: #ffffffbd;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.coordinacion__main {
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
}

.coordinacion__main p {
  font-size: 16px;
  margin-top: 1rem;
  font-style: italic;
}

@media (max-width: 976px) {
  .coordinacion {
    padding: 1rem 2rem;
  }

  .coordinacion p {
    font-size: 13px;
  }

  .coordinacion .dropdown {
    right: 30px;
  }

  .coordinacion p:nth-child(2) {
    display: none;
  }
}
@media (max-width: 768px) {
  .coordinacion .dropdown {
    padding: 1rem 2rem;
  }
}

.excel-button {
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  background: rgb(168, 248, 208);
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
  box-shadow: 0px 2px 8px rgb(93, 238, 166);
}

.excel-button:hover {
  background: rgb(93, 238, 166);
}

.button-reporte {
  width: 100%;
  padding: 5px 0;
  color: rgb(227, 242, 253);
  background: rgb(163, 163, 163);
  border: none;
  transition: all 0.5s ease;
}

.button-reporte:hover {
  background-color: rgb(108, 106, 106);
}

.linea {
  background-color: rgb(205, 244, 214);
  color: rgb(20, 187, 56);
  padding: 0px 5px 2px 5px;
  margin: 0;
  border-radius: 10px;
  font-size: 12px;
}

.presencial {
  background-color: rgb(247, 190, 190);
  color: rgb(213, 76, 72);
  padding: 0px 5px 2px 5px;
  margin: 0;
  border-radius: 10px;
  font-size: 12px;
}

.switch-presencial {
  color: rgb(213, 76, 72);
}

.switch-linea {
  color: rgb(20, 187, 56);
}

.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: rgb(213, 76, 72);
  --color-green: rgb(20, 187, 56);
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0px 0px 0px transparent !important;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

@media (max-width: 630px) {
  .pre-line {
    display: flex;
    justify-content: center;
  }
}
